.login {
    margin-top: 5rem;
    background-color: #1DB954;
    border-radius: 4rem;
    padding: 1rem 2rem;
    border: 1px solid white;

    h4 {
        color: white;
        margin: 0;
    }
}

.login:hover,
.login:focus,
.login:active {
    h4 {
        color: #0d5a28;
    }
    border-color: #0d5a28;
}