.btn {
    border-radius: 4rem;
    padding: 1rem 2rem;
    border: 1px solid white;
    display: flex;
    align-items: center;
    max-height: 4rem;

    @include at-sm {
      flex-direction: column;
    }

    &.login {
      background-color: #1DB954;
    }

    &.error {
      background-color: #ea481eff;
    }

    &.submit {
      background-color: #0070f3;
    }
}

.btn h4 {
  margin: 0;
}

.btn {
  &.login, &.error, &.submit {
    h4 {
      color: white;
    }
  }
}

.btn:hover,
.btn:focus,
.btn:active {
  &.login {
    h4 {
      color: #0d5a28;
    }

    border-color: #0d5a28;
  }

  &.error {
    h4 {
      color: #a01d1d;
    }

    border-color: #a01d1d;
  }

  &.submit {
    h4 {
      color: darkblue;
    }

    border-color: darkblue;
  }
}